<div class="container" style="margin-top: 20px;">
    <h3>Şarkıcılar</h3>
  
    <!-- Arama Çubuğu -->
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="searchTerm"
        placeholder="Şarkıcı adı ile ara"
      />
    </div>
  
    <!-- Liste Çerçevesi -->
    <div class="singer-list-container">
      <div class="list-group">
        <div class="list-group-item" *ngFor="let singer of singers | singerSearch: searchTerm | orderBy: 'name'">
          <div class="d-flex justify-content-between align-items-center">
            <span>{{ singer.name }}</span>
              <!-- ınfo butonu -->
            <button class="btn btn-info" (click)="singer.id && toggleCard(singer.id)">
              Info
            </button>
          </div>
  
          <!-- Seçilen şarkıcının kartı açılır -->
          <div class="card mt-2" *ngIf="selectedSingerId === singer.id">
            <div class="card-body">
              <h5 class="card-title">{{ singer.name }}</h5>
              <p class="card-text">infoinfo</p>
              <!-- View Profile butonu -->
              <button class="btn btn-info" [routerLink]="['/singer-profile', singer.id]">
                View Profile
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  



  
<!--
list-group-itemBootstrap'te kullanılan genel bir sınıftır ve bir liste elemanını (item) stilize eder. Liste öğelerinin varsayılan biçimlendirmesini sağlar.

list-group-item sınıfına eklenir ve liste öğelerini tıklanabilir hale getirir. Yani, bir aksiyon (action) öğesi gibi davranır.

d-flex: Öğeleri esnek bir şekilde yan yana hizalar.

justify-content-between: İlk öğe (span) sola, ikinci öğe (button) sağa hizalanır.

align-items-center: Öğelerin dikeyde ortalanmasını sağlar.
-->