<dx-data-grid
  [dataSource]="beatList"
  [showBorders]="true"
  [hoverStateEnabled]="true"
  (onRowClick)="fillForm($event)">
  <dxi-column dataField="name" caption="Beat"></dxi-column>

</dx-data-grid>

<hr>

<h4>Yeni Şarkı Ekle</h4>
<div style="max-width:420px">
  <label style="margin-top:12px">Şarkıcı</label>

  <label>Beat Adı</label>
  <input class="form-control" [(ngModel)]="form.name" placeholder="Ad" name="name">

   <div style="margin-top:12px; display:flex; gap:8px;">
   <button class="btn btn-primary" (click)="save()" [disabled]="saving">Kaydet</button>
    
  </div>
</div>
